.user-card .first-row .names .name-username-wrapper, .group-card .first-row .names .name-username-wrapper {
    font-size: 21px !important;
}
.user-card, .group-card {
    word-break: break-all;
    white-space: normal;
}
/* Full-width WYSIWYG composer */

#reply-control.open {
  max-width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
}

.composer-popup-container,
.composer-fields,
.d-editor,
.d-editor-textarea-wrapper {
  max-width: 100% !important;
  width: 100% !important;
}

.d-editor-textarea-wrapper .d-editor-input {
  min-height: 400px; /* Optional: Increase height */
}

/* Remove any internal padding that might constrain width */
.reply-area {
  padding-left: 10px;
  padding-right: 10px;
}

